@page "/"
@page "/lobby"

@using HuskyNet.WebClient.Services;

@if (ClientService.View?.Lobby != null)
{
	<div>
		<h3>Players</h3>
		@if (ClientService.View.Lobby != null)
		{
			@foreach (var player in ClientService.View.Lobby.Players)
			{
				<p>@player.Value.DisplayName (@player.Key)</p>
			}
		}
	</div>

	<button class="btn btn-primary" @onclick="LaunchGameButton"></button>
}
else
{
	<h1>Connecting...</h1>
}


