


body {
	color: #eee;
}


.page-insert {
	margin: 0;
	padding: 4px;
	display: grid;
	grid-template-rows: auto;
	height: 100%;
	grid-gap: 4px;
}

	.page-insert .page-gridarea {
		border-radius: 8px;
		background-color: #101010;
		overflow: hidden;
		position: relative;
	}

		.page-insert .page-gridarea:focus {
			outline: 0;
		}

.grid {
	background-image: url('../img/grid4.png');
	background-size: 256px;
	height: 4096px;
	width: 4096px;
	position: absolute;
}

.projectile {
	position: absolute;
	width: 2px;
	height: 8px;
	margin-left: -1px;
	margin-top: -4px;
	background-color: #fff;
	/* transition: transform linear 1s; */
}

.beams {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

	.beams polyline {
		fill: none;
		stroke-width: 3;
		stroke-linecap: round;
	}

.player {
	position: absolute;
	transition: transform linear 0.4s;
	width: 72px;
	height: 72px;
	margin-left: -36px;
	margin-top: -36px;
}

	.player .player-ship {
		width: 100%;
		height: 100%;
		transition: transform linear 0.4s;
	}

	.player.capital {
		width: 150px;
		height: 150px;
		margin-left: -75px;
		margin-top: -75px;
	}

		.player.capital .player-ship {
			background-image: url('../img/spaceship.png');
			background-size: 100% 100%;
		}

	.player.scout {
		width: 52px;
		height: 52px;
		margin-left: -26px;
		margin-top: -26px;
	}

		.player.scout .player-ship {
			background-image: url('../img/scout-ship.png');
			background-size: 100% 100%;
		}

	.player.gunship {
		width: 72px;
		height: 72px;
		margin-left: -32px;
		margin-top: -32px;
	}

		.player.gunship .player-ship {
			background-image: url('../img/starfighter.png');
			background-size: 100% 100%;
		}

	.player.battleship {
		width: 72px;
		height: 72px;
		margin-left: -32px;
		margin-top: -32px;
	}

		.player.battleship .player-ship {
			background-image: url('../img/interceptor-ship.png');
			background-size: 100% 100%;
		}

	.player label {
		width: 100%;
		text-align: center;
		color: #eee;
		-webkit-font-smoothing: antialiased;
	}

	.player progress {
		width: 100%;
		font-size: 12px;
		line-height: 20px;
		color: #fff;
		text-align: center;
		background-color: #337ab7;
	}

.range-indicator {
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);

	border-radius: 50%;
	border: 2px solid #b12e2e;
}

.dashboard-row {
	display: inline-flex;
}

	.dashboard-row .danger-light,
	.dashboard-row .warning-light {
		opacity: 0.3;
		padding: 12px;
		border: 2px solid #ff6a00;
		margin: 16px;
		font-size: 16px;
		font-weight: bold;
	}

@keyframes flashing-button {
	0% {
		opacity: 1.0;
	}

	70% {
		opacity: 0.3;
	}
}

.dashboard-row .danger-light.active,
.dashboard-row .warning-light.active {
	-webkit-animation: flashing-button 900ms infinite;
	-moz-animation: flashing-button 900ms infinite;
	-o-animation: flashing-button 900ms infinite;
	animation: flashing-button 900ms infinite;
}

.dashboard-row .danger-light {
	border: 4px solid #ff0000;
	color: #ff0000;
}

.dashboard-row .warning-light {
	border: 4px solid #ff6a00;
	color: #ff6a00;
}

.game-btn.game-btn-navigate {
	position: absolute;
	right: 16px;
	bottom: 16px;
	width: 96px;
	height: 96px;
	border-radius: 50%;
	border: 4px solid #eee;
	background-color: #424242;
	text-align: center;
	text-anchor: middle;
	font-size: 24px;
	font-weight: bold;
	cursor: pointer;
	align-items: center;
	display: flex;
	justify-content: center;
}

.notice {
	position: absolute;
	left: 0;
	right: 0;
	top: 16px;
	height: 128px;
	text-align: center;
	text-anchor: middle;
	font-size: 32px;
	font-weight: bold;
	cursor: pointer;
	align-items: center;
	display: flex;
	justify-content: center;
	opacity: 0.3;
}
