<h1>Guide</h1>

<p>Team-based PvP</p>

<h2>Classes</h2>

<ul class="list-unstyled">

	<li class="media">
		<div class="mr-3 ship-preview">
			<div class="ship-scout"></div>
		</div>
		<div class="media-body">
			<h5 class="mt-0">Scout</h5>
			<p>Fast-moving with rapid-fire lasers.</p>
			<p><b>Tip:</b> Use your speed to tank a few hits and safely retreat to the back lines until your needed again.</p>
		</div>
	</li>

	<li class="media">
		<div class="mr-3 ship-preview">
			<div class="ship-gunship"></div>
		</div>
		<div class="media-body">
			<h5 class="mt-0">Gunship</h5>
			<p>Long-ranged, slow-moving ship with a high-damage torpedo ability.</p>
			<p><b>Tip:</b> Stay out of the range of your enemies and rain-down fire from a distance.</p>
		</div>
	</li>

	<li class="media">
		<div class="mr-3 ship-preview">
			<div class="ship-battleship"></div>
		</div>
		<div class="media-body">
			<h5 class="mt-0">Battleship</h5>
			<p>Durable, slow-moving with close-range lasers.</p>
			<p><b>Tip:</b> Charge the enemy to absorbe fire for your <b>gunships</b> and <b>scouts</b>..</p>
		</div>
	</li>

	<li class="media">
		<div class="mr-3 ship-preview">
			<div class="ship-capital"></div>
		</div>
		<div class="media-body">
			<h5 class="mt-0">Capital</h5>
			<p>Durable ship with game-changing firepower in bursts</p>
			<p><b>Tip:</b> Use the <b>barrage</b> ability button at the bottom-right of your screen to deliver a stream of high-damage torpedoes.</p>
		</div>
	</li>
</ul>
