@page "/"

<div class="container">

	<div style="height: 128px;"></div>

	<h1 class="text-center">Pew Pew</h1>

	@if (Client.View?.Lobbies == null)
	{
		<div class="row">
			<div style="width: 485px;" class="mx-auto">
				<div class="card card-signin my-5">
					<div class="card-body">
						<h5 class="text-center">Connecting...</h5>
					</div>
				</div>
			</div>
		</div>
	}
	else
	{
		<div class="row">
			<div style="width: 485px;" class="mx-auto">
				<div class="card card-signin my-5">
					<div class="card-body">

						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text" id="room-code-label">Room Code</span>
							</div>
							<input class="form-control" @bind="DirectJoinLobbyKey" @bind:event="oninput" placeholder="######" />
							<div class="input-group-append">
								<button class="btn btn-outline-secondary" @onclick="DirectJoinLobbyButton">Join</button>
							</div>
						</div>

						<div class="form-group form-group text-right">
							<button class="btn btn-outline-secondary" @onclick="CreateLobbyButton">Create Lobby</button>
						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="my-5">
			<table class="table table-bordered table-hover">

				<thead>
					<tr>
						<td>Name</td>
						<td>Code</td>
						<td>Players</td>
						<td>Join</td>
					</tr>
				</thead>
				<tbody>
					@if (Client.View.Lobbies != null)
					{
						@if (Client?.View?.Lobbies != null && Client.View.Lobbies.Count > 0)
						{
							@foreach (var lobby in Client.View.Lobbies)
							{
								<tr>
									<td>
										@lobby.Name
									</td>
									<td style="color: #999;">
										@lobby.Key
									</td>
									<td>@(lobby.CurrentPlayers)/@(lobby.MaxPlayers)</td>
									<td>
										<button class="btn btn-outline-secondary" @onclick="() => JoinLobbyButton(lobby.Key)">Join</button>
									</td>
								</tr>
							}
						}
						else
						{
							<tr>
								<td colspan="4">
									<sub>There are current no lobbies.</sub>
								</td>
							</tr>
						}
					}
					else
					{
						<tr>
							<td colspan="4">
								<sub>Loading...</sub>
							</td>
						</tr>
					}
				</tbody>

			</table>
		</div>
	}

	<div style="height: 128px"></div>

	<UserGuide />

</div>
